* {
    font-family: 'Urbanist', sans-serif;
}

body {
    background-color: #151515;
    padding: 0;
    margin: 0;
}

/* Header */

.header {
    display: flex;
    height: 85px;
    border-bottom: 1px solid #272727;
}

.header_logo_box {
    cursor: pointer;
    width: 283px;
    display: flex;
    align-items: center;
    border-right: 1px solid #272727;
}

.header_logo_box a {
    text-decoration: none;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 23.292px;
    line-height: 125%;
    color: #ffffff;
}

.header_logo_box img {
    padding-left: 40px;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0px 15px 0px 15px;
}

.search_bar {
    display: flex;
    align-items: center;
    background-color: #1E1E1E;
    padding: 12px 7px;
    border-radius: 32px;
}

.search_bar img {
    cursor: pointer;
}

.search_bar input {
    padding-left: 10px;
    width: 300px;
    outline: none;
    border: none;
    background: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #898989;
}

.header_navigation {
    min-width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_navigation img {
    cursor: pointer;
    background-color: #1E1E1E;
    padding: 10px;
    border-radius: 40px;
}

.header_navigation img:nth-child(3) {
    background: none;
    padding: 0;
}

/* Aside */

.aside {
    float: left;
    width: 283px;
    border-right: 1px solid #272727;
}

.aside_block {
    margin: 0 auto;
    color: #898989;
}

.aside_blocks h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    padding-left: 40px;
    padding-bottom: 10px;
}

.aside_blocks ul {
    padding: 0px;
}

.aside_blocks img {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.aside_blocks li {
    display: flex;
    width: 150px;
    padding: 13px 10px 13px 40px;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    align-items: center;
    overflow: hidden;
}

.aside_blocks li:hover {
    color: #fff;
    transition: .6s;
    font-weight: 600;
}

.aside_blocks li::before {
    content: "";
    position: absolute;
    border-radius: 0px 38.8199px 38.8199px 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 600;
    background: rgb(110, 56, 224);
    background: linear-gradient(90deg, rgba(110, 56, 224, 1) 0%, rgba(255, 95, 54, 1) 100%);
    transform: translateX(-100%);
    transition: all .5s;
    color: #fff;
    z-index: -1;
}

.aside_blocks li:hover::before {
    transform: translateX(0);
}

.aside_blocks li:hover img {
    filter: brightness(0) invert(1);
}

/* Vacancy */

.vacancy_top {
    padding-left: 25px;
    padding-right: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vacancy_top h1 {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 27.174px;
    line-height: 125%;
}

.sort_bar {
    display: flex;
    align-items: center;
    color: #898989;
    background: #1E1E1E;
    padding: 11px;
    border-radius: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
}

.sort_bar select {
    cursor: pointer;
    font-size: 12px;
    line-height: 140%;
    color: #898989;
    background: none;
    outline: none;
    border: none;
}

.vacancy_block {
    display: flex;
}

.vacancy_blocks {
    margin-left: 25px;
    min-width: 315px;
    height: 182px;
    background: #1E1E1E;
    border-radius: 15px;
}

.vacancy_blocks:nth-child(1) {
    border-left: 6px solid #29C5EE;
}

.vacancy_blocks:nth-child(2) {
    border-left: 6px solid #CF1A2C;
}

.vacancy_blocks:nth-child(3) {
    border-left: 6px solid #EAB04D;
}

.vacancy_blocks_main {
    display: flex;
    align-items: center;
}

.vacancy_blocks_main img:nth-child(1) {
    padding-right: 11px;
    padding-left: 9px;
}

.vacancy_blocks_main h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 17.469px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: -7px;
}

.vacancy_blocks_main p {
    font-style: normal;
    font-weight: 500;
    font-size: 11.646px;
    line-height: 14px;
    color: #898989;
}

.vacancy_main_text {
    width: 155px;
}

.vacancy_block_arrow {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(48.5249px);
    border-radius: 50px;
    padding: 10px;
    margin-left: 35px;
}

.vacancy_main_btns {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.vacancy_main_btns a {
    color: #898989;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-decoration: none;
    margin-left: 7px;
    padding: 7px 8px;
    background: #282828;
    border-radius: 23px;
    display: flex;
    align-items: center;
}

.vacancy_main_btns img {
    padding-right: 5px;
}

.vacancy_blocks_text {
    padding-left: 15px;
    padding-top: 30px;
    display: flex;
    align-items: end;
}

.vacancy_blocks_text h1 {
    font-weight: 700;
    font-size: 38.8199px;
    line-height: 47px;
    margin: 0;
    color: #FFFFFF;
}

.vacancy_blocks_text p {
    padding-left: 5px;
    font-size: 13px;
    line-height: 14px;
    color: #898989;
}

.vacancy_blocks_text .vacancy_blocks_number {
    padding-left: 80px;
    color: #00B85E;
}

/* Candidates */

.candidate_container {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.candidate_top {
    padding-right: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.candidate_top h1 {
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 27.174px;
    line-height: 125%;
}

.date_bar {
    display: flex;
    align-items: center;
    background: #1E1E1E;
    padding: 11px;
    border-radius: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
}

.date_bar select {
    cursor: pointer;
    color: #898989;
    outline: none;
    border: none;
    background: none;
}

.candidate_block_top {
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 39px;
    border-bottom: 1px solid #272727;
    height: 52px;
}

.candidate_block_top a {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    width: 67px;
    text-decoration: none;
    color: #898989;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 15.528px;
    line-height: 140%;
}

.candidate_block_top a:hover {
    color: #FFFFFF;
    font-weight: 700;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(107.3deg, #6E38E0 13.39%, #FF5F36 77.64%);
}

.candidate_block {
    display: flex;
    flex-direction: column;
    border-radius: 15.5px;
    background: #1E1E1E;
    height: auto;
    max-width: 1080px;
}

.candidate_block_bar {
    height: 42px;
    margin: 15px 16px 0px 16px;
    background-color: #262626;
    border-radius: 8px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.candidate_bar_elem {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 13.587px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #898989;
}

.candidate_bar_elem img {
    cursor: pointer;
}

.candidate_bar_elem:nth-child(1) {
    flex: 2;
}

.candidate_bar_elem:nth-child(2) {
    flex: 1;
}

.candidate_bar_elem:nth-child(3) {
    flex: 1.8;
}

.candidate_bar_elem:nth-child(4) {
    flex: 1.5;
}

.candidate_bar_elem:nth-child(5) {
    flex: 2;
}

.candidate_bar_elem:nth-child(6) {
    flex: 1.2;
}

.candidate_block_main {
    padding: 0px 35px;
}

.candidate_main_parent {
    display: flex;
    padding: 20px 0px 20px;
    border-bottom: 1px solid #272727;
}

.candidate_main_child {
    text-align: start;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15.528px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.candidate_main_child img {
    cursor: pointer;
}

.candidate_main_child img:nth-child(1) {
    border-radius: 40px;
    margin-right: 6px;
}

.candidate_main_child:nth-child(1) {
    flex: 1.9;
}

.candidate_main_child:nth-child(2) {
    flex: 0.9;
}

.candidate_main_child:nth-child(3) {
    flex: 1.65;
}

.candidate_main_child:nth-child(4) {
    flex: 1.4;
}

.candidate_main_child:nth-child(5) {
    flex: 1.8;
}

.candidate_main_child:nth-child(6) {
    flex: 1;
}